<center>
	<div class= "page-header">
		<h1 style="color: white;"> Création d'une recette </h1>
	</div>
	<div style="background-color: white;padding: 25px 25px 25px 25px;margin-bottom: 50px">

	<form ng-submit="creRecipes()">
		<p ng-show="showErrorMessage" style= "background-color: red ; color:white"> {{errorMessage}} </p>
		<label>Titre: </label>
		<input class="form-control" style="width: 300px" name="titre">
		<br>
		<label>Type: </label>


		<FORM NAME="Choix">
		<SELECT NAME="Liste" onChange="Lien()">
		<OPTION VALUE="">Choisir une option
		<OPTION VALUE="">Accompagnement
		<OPTION VALUE="">Apéritif
		<OPTION VALUE="">Entrée
		<OPTION VALUE="">Plat
		<OPTION VALUE="">Dessert
		</SELECT>
		</FORM>


		<br>
		<label>Sous_Type: </label>

		<FORM NAME="Choix2">
		<SELECT NAME="Liste2" onChange="Lien2()">
		<OPTION VALUE="">Choisir une option
		<OPTION VALUE="">Accompagnement
		<OPTION VALUE="">Apéritif
		<OPTION VALUE="">Entrée
		<OPTION VALUE="">Plat
		<OPTION VALUE="">Des
		</SELECT>
		</FORM>

		<br>
		<button class= "btn btn-primary" type= "submit" style="margin-bottom : 50px"> Enregistrer </button>
		<br>
		<button  class= "btn btn-danger" ng-click="annulation()" type= "button"> Annuler </button>
	</form>



</div>
</center>
