<center>
	<div class= "page-header">
		<h1 style="color: white;"> Création d'une recette </h1>
	</div>
	<div style="background-color: white;padding: 25px 25px 25px 25px;margin-bottom: 50px">

	<form ng-submit="creRecipes()">
		<p ng-show="showErrorMessage" style= "background-color: red ; color:white"> {{errorMessage}} </p>
		<label>Titre: </label>
		<input class="form-control" style="width: 300px" name="titre">
		<br>

		<SELECT NAME="Rubrique" onChange='Choix(this.form)'>
			<OPTION>-- Choisissez une rubrique ---</OPTION>
			<OPTION>Accompagnement</OPTION>
			<OPTION>Apéritif</OPTION>
			<OPTION>Entrée</OPTION>
		</SELECT>

		<SELECT NAME="Page">
			<OPTION>-- Choisissez une page ---</OPTION>
			<OPTION></OPTION>
			<OPTION></OPTION>
			<OPTION></OPTION>
		</SELECT>

		<br>
		<button class= "btn btn-primary" type= "submit" style="margin-bottom : 50px"> Enregistrer </button>
		<br>
		<button  class= "btn btn-danger" ng-click="annulation()" type= "button"> Annuler </button>
	</form>



</div>
</center>
