<center>
	<div class="page-header">
		<h1 style="color: white;"> Accueil </h1>
	</div>
	<div style="background-color:white;opacity: 1;width:1000px;height:auto; padding: 20px;border:1px solid #999999;">
		<p style="font-family: -apple-system, BlinkMacSystemFont, sans-serif ; text-align: center; margin-top: 10px; margin-bottom: 10px; ">
			Bonjour et bienvenue sur notre site internet.
		</p>
		<p style="font-family: -apple-system, BlinkMacSystemFont, sans-serif ; text-align: left; margin-top: 25px; margin-bottom: 25px; ">
			bite
		</p>
	</div>
</center>
