<center>
	<div style="background-color: white;padding-bottom: 50px;width: 500px;border:1px solid #999999;">
		<div class= "page-header">
			<h1>User login </h1>
		</div>
			<form ng-submit="main.logUser(logData);">
				<p ng-show="showError" style= "background-color: red ; color:white;"> {{error}} </p>
				<label>Username: </label>
				<input class="form-control" style="width: 300px" type="text" name="username" ng-model="main.logData.username">
				<br>

				<label>Password: </label>
				<input class="form-control" style="width: 300px" type="password" name="password" ng-model="main.logData.password">
				<br>
				<button class= "btn btn-primary" style="width: 300px" type= "submit"> Log in </button>
			</form>
	</div>
</center>
