<center>
	<div class= "page-header">
		<h1 style="color: white;"> Profil Of {{user.username}} </h3>
	</div>
	<div style="background-color: white;padding: 25px 25px 25px 25px;margin-bottom: 50px">
			<table class="table">
			  <tr>
			    <td> <strong> Pseudo : 	{{user.username}} </strong> </td>
					<tr></tr>
			    <td> <strong> Age : 	{{user.age}} </strong> </td>
					<tr></tr>
			    <td> <strong> Numéro de téléphone : 	{{user.phoneNumber}} </strong> </td>
					<tr></tr>
			    <td> <strong> E-mail :	 {{user.e_mail}} </strong> </td>
					<tr></tr>
					<td>
						 <button class= "btn btn-primary" style="width: 120px" ng-click="changeProfil(user)" type="button" > Modifier profil </button>
					</td>
			  </tr>
			</table>

	</div>
</center>
