<center>
	<div class= "page-header">
		<h1 style="color: white;"> Mes Recettes </h1>
	</div>
	<div style="background-color: white;padding: 25px 25px 25px 25px;margin-bottom: 50px">
			<table class="table">
			  <tr>
					<button class= "btn btn-primary" style="width: 250px" ng-click="createRecipe" type="button" > Créer une nouvelle recette </button>
          <tr></tr>
					<button  class= "btn btn-danger" ng-click="annulation()" type= "button"> Annuler </button>
			  </tr>
			</table>
	</div>
</center>
