<center>
	<div style="background-color: white;margin-top: 100px;margin-bottom: 100px;width:500px;height:auto;border:1px solid #999999;">
		<div class= "page-header">
			<h1>User registration </h1>
		</div>

		<form ng-submit="regUser()">
			<p ng-show="showErrorMessage" style= "background-color: red ; color:white"> {{errorMessage}} </p>
			<label>Username: </label>
			<input class="form-control" style="width: 300px" name="username" type="text" ng-model="regData.username">
			<br>
			<label>Password: </label>
			<input class="form-control" style="width: 300px" name="password" type="password" ng-model="regData.password">
			<br>
			<label>Age: </label>
			<input class="form-control" style="width: 300px" name="age" type="text"  ng-model="regData.age">
			<br>
			<label>Phone number: </label>
			<input class="form-control" style="width: 300px" name="phoneNumber" type="text"  ng-model="regData.phoneNumber">
			<br>
			<label>Country: </label>
			<input class="form-control" style="width: 300px" name="country" type="text" ng-model="regData.country">
			<br>
			<label>City: </label>
			<input class="form-control" style="width: 300px" name="city" type="text"  ng-model="regData.city">
			<br>
			<button class= "btn btn-primary" type= "submit" style="margin-bottom : 50px"> Register </button>
		</form>
	</div>
</center>
